[submodule "lib/bme280"]
	path = lib/bme280
	url = https://github.com/sparkfun/SparkFun_BME280_Arduino_Library
[submodule "lib/sprk_ccs811"]
	path = lib/sprk_ccs811
	url = https://github.com/sparkfun/SparkFun_CCS811_Arduino_Library
